---
layout: default
---
<article>
  <!-- <header><h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1></header> -->
  {{ content }}

{% if page.url contains "/zh/" }
<h1 id="版权声明">版权声明</h1>
<p>禁止转载、禁止演绎。</p>
<p>jsMind 项目仍在不断升级变化，版本更新时会同时更新对应的文档。为避免给使用者带来困惑，在没有得到书面许可前，禁止转载本文档，同时禁止对本文档进行任何形式的更改。</p>
{% else %}
<h1 id="copyright-notice">copyright notice</h1>
<p>Reproduction and deduction are prohibited.</p>
<p>The jsMind project is still being updated and the corresponding documentation is updated at the same time as the version is updated. In order to avoid confusion to the user, it is forbidden to reprint this document without written permission and to make changes of any kind to this document.</p>
{% endif %}
</article>
